.main-content {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  text-align: center;
  display: grid;
  justify-items: center;
  padding: 0 30rem;

  @media only screen and (max-width: 600px) {
    padding: 5rem;
  }

  &__illustration {
    display: block;
    object-fit: cover;
    width: 100%;
  }
  &__backgroundbox {
    grid-row: 2 / 3;
    grid-column: 1 / -1;
    
    z-index: -1;
    position: relative;
    margin-bottom: -0.5rem;
    background-image: url("../images/bg-curvy-desktop.svg");
    background-repeat: no-repeat;
    background-position: bottom;

    @media only screen and (max-width: 600px) {
      background-image: url("../images/bg-curvy-mobile.svg");
      
    }
  }
}
