.about{
    grid-column: 1 / -1; 
    background-color: $color-primary-main;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-items: center;
    padding: 13rem;
    @media only screen and (max-width:600px){
        padding: 5rem;
      }
    

    &__descriptionbox{
        padding: 7rem;
        @media only screen and (max-width:600px){
            padding: 0;
            margin-top: 5rem;
          }
    }
    
    &__illustration{
        object-fit: cover;
        width: 100%;
    }

}


