.newsletter {
  grid-row: 6 / 7;
  grid-column: 1 / -1;
  margin: 0 auto;
  &__form {
    transform: translateY(-60%);
    z-index: 100;
    position: relative;
    display: block;
    padding: 4rem;
    background-color: $color-primary-testimonials;
    box-shadow: 15px 13px 20px 2px rgba(0, 0, 0, 0.2);
    border-radius: 1%;
    width: 65vw;
    display: grid;
    justify-content: center;
    grid-gap: 2rem;
    justify-items: center;

    @media only screen and (max-width: 600px) {
      width: 85vw;
    }
  }

  &__inputs {
    @media only screen and (max-width: 600px) {
      text-align: center;
    }
  }
  &__inputs > [type="email"] {
    border-radius: 100px;
    display: inline-block;
    padding: 1.8rem;
    border: none;
    width: 60rem;
    margin-right: 2rem;
    transition: all 0.2s;
    font-family: $font-body;
    @media only screen and (max-width: 600px) {
      width: 250px;
      margin-right: 0;
      margin-bottom: 3rem;
      margin-top: 2rem;
      font-size: 1.4rem;
    }
  }
  &__inputs > [type="email"]:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    border: 3px solid rgba($color-accent-2, 0.9);
  }
}

.heading--newsletter {
  @media only screen and (max-width: 600px) {
    font-size: 2.4rem;
  }
}

.text--newsletter {
  font-size: 1.4rem;
  text-align: center;
  display: block;
  padding: 0 10rem;
  @media only screen and (max-width: 600px) {
    font-size: 1.6rem;
    padding: 0;
  }
}
